.table table {
    width: 100%;
    margin: 5px 0px 20px 0px;
}

.table th {
    color: var(--darkblue);
}

.table td, .table th {
    padding: 5px;
}

.sort {
    margin-left: 5px;
}

.no-data {
    padding: 10px;
}
