.table table {
	width: 100%;
	margin: 5px 0px 20px 0px;
}

.table th {
	color: var(--darkblue);
}

.table td,
.table th {
	padding: 5px;
}

.table thead {
	vertical-align: middle;
	background: var(--lightgray);
	color: var(--black);
}

.table tbody tr td {
	font-size: 14px;
}

.sort {
	margin-left: 5px;
}

.no-data {
	padding: 10px;
}

.filter {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 2px 2px;
	border-width: 1px;
	border-style: solid;
	border-color: var(--gray);
	border-radius: 3px;
	appearance: none;
}

.filter:focus {
	outline: none;
}

.filter[disabled] {
	opacity: 0.5;
	cursor: not-allowed !important;
}
