.sidebar {
	text-align: left;
	width: 200px;
	background: var(--lightgray);
	padding: 5px 20px 20px 20px;
}

.sidebar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.sidebar li {
	margin: 0;
	padding: 0;
}

.sidebar a {
	text-decoration: none;
	color: var(--brightblue);
	font-size: 12px;
	vertical-align: middle;
}

.toggle {
	display: flex;
	font-size: 24px;
}
.toggle span {
	margin-left: auto;
	cursor: pointer;
}
.sidebar-collapsed {
	width: 5px;
}
.sidebar-contents-collapsed * {
	display: none;
}

.download {
	margin-left: 5px;
	font-size: 12px;
}
