@import-normalize;
@import 'normalize/opinionated';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Color theme */
:root {
    /* Harmonic 16 - janniks.github.io/harmonic16 */
    --black: #0b1c2c;
    --darkblue: #223b54;
    --blue: #405c79;
    --lightblue: #627e99;
    --darkgray: #aabcce;
    --gray: #cbd6e2;
    --lightgray: #e5ebf1;
    --white: #f7f9fb;
    --orange: #bf8b56;
    --yellow: #bfbf56;
    --green: #8bbf56;
    --lightgreen: #56bf8b;
    --brightblue: #568bbf;
    --purple: #8b56bf;
    --magenta: #bf568b;
    --red: #bf5656;
}

/* Globals */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--white);
}

h1 {
    font-weight: 400;
    font-size: 24px;
    color: var(--darkblue);
}

h2 {
    font-weight: 400;
    font-size: 20px;
    color: var(--darkblue);
}

h3 {
    font-weight: 400;
    font-size: 18px;
    color: var(--darkblue);
}

h4 {
    font-weight: 400;
    font-size: 16px;
    color: var(--darkblue);
}

a {
    text-decoration: none;
    color: var(--brightblue);
}

label {
    font-size: 12px;
    padding-left: 5px;
}

/* PureCSS modifications */
.pure-form select {
    height: auto !important;
}

.pure-form-stacked label {
    margin-top: 20px;
}

/* react-widget modifications */
.rw-widget,
.rw-widget div,
.rw-widget input
.rw-widget .rw-widget-picker,
.rw-widget-input {
    color: var(--black) !important;
}

.rw-combobox {
    display: inline-block;
}

.rw-combobox input {
    border: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    margin: 0 !important;
}

.rw-widget-picker {
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
}

.rw-state-focus .rw-widget-picker {
    border: 1px solid #129fea !important;
    box-shadow: inset 0 1px 3px #ddd !important;
    border-radius: 4px;
}

.rw-popup-container {
  min-width: 500px;
}

/* react-markdown modifications */
.w-md-editor-preview h1 {
    font-size: 14px;
}
.w-md-editor-preview h2 {
    font-size: 12px;
}
.w-md-editor-preview h3 {
    font-size: 11px;
}
.w-md-editor-preview h4 {
    font-size: 10px;
    font-weight: bold;
}
.w-md-editor-preview p {
    font-size: 10px;
}

/* react-toggle - from https://github.com/aaronshaf/react-toggle */
.react-toggle {
  touch-action: pan-x;

  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #4D4D4D;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #000000;
}

.react-toggle--checked .react-toggle-track {
  background-color: var(--green);
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: var(--green);
}

.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #4D4D4D;
  border-radius: 50%;
  background-color: #FAFAFA;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: var(--green);
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px #0099E0;
  -moz-box-shadow: 0px 0px 3px 2px #0099E0;
  box-shadow: 0px 0px 2px 3px #0099E0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 5px 5px #0099E0;
  -moz-box-shadow: 0px 0px 5px 5px #0099E0;
  box-shadow: 0px 0px 5px 5px #0099E0;
}

/* Common utility classes */
.error {
    color: var(--red);
}

.error-small {
    color: var(--red);
    font-size: 12px;
}

.green-button {
    background-color: var(--green);
    color: var(--white);
}

.red-button {
    background-color: var(--red);
    color: var(--white);
}

.blue-button {
    background-color: var(--blue);
    color: var(--white);
}
