.footer {
    height: 30px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    background-color: #316098;
    color: white;
    font-size: 14px;
}
