.home {
    text-align: center;
}

.caselists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.caselist {
    background-color: #316A85;
    width: 200px;
    margin: 20px;
    padding: 20px;
    color: white;
}
