@import-normalize;
@import 'normalize/opinionated';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-weight: 400;
    font-size: 20px;
    color: rgb(77, 88, 96);
}

a {
    text-decoration: none;
    color: rgb(49, 115, 181);
}

:root {
    --ndt: #316098;
    --policy: #769BC7;
    --ld: #4B75A8;
    --pf: #6FC7AE;
    --nfa: #42A88C;
    --openev: #108665;
}
