@import-normalize;
@import 'normalize/opinionated';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 400;
    font-size: 24px;
    color: rgb(77, 88, 96);
}

h2 {
    font-weight: 400;
    font-size: 20px;
    color: rgb(77, 88, 96);
}

a {
    text-decoration: none;
    color: #3173B5;
}

:root {
    --ndt: #316098;
    --policy: #797978;
    --ld: #026DA2;
    --pf: #ABBAD2;
    --nfa: #42B0E2;
    --openev: #E48786;

    --red: #F03342;
}

.pure-form select {
    height: auto !important;
}

.pure-table thead {
    vertical-align: middle;
    background-color: #666 !important;
    color: white !important;
}

.pure-table tbody tr td {
    font-size: 14px;
}

.pure-button {
    border-radius: 20px !important;
}
