@import-normalize;
@import 'normalize/opinionated';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--white);
}

h1 {
    font-weight: 400;
    font-size: 24px;
    color: var(--darkblue);
}

h2 {
    font-weight: 400;
    font-size: 20px;
    color: var(--darkblue);
}

a {
    text-decoration: none;
    color: var(--brightblue);
}

:root {
    /* Solarized Dark */
    /* --black: #002b36;
    --blueblack: #073642;
    --darkgray: #586e75;
    --mediumgray: #657b83;
    --lightgray: #839496;
    --lightergray: #93a1a1;
    --beige: #eee8d5;
    --white: #fdf6e3;
    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900; */


    /* Tomorrow */
    /* --white: #ffffff;
    --offwhite: #efefef;
    --lightgray: #4d4d4c;
    --lightergray: #8e908c;
    --lightestgray: #d6d6d6;
    --red: #c82829;
    --orange: #f5871f;
    --yellow: #eab700;
    --green: #718c00;
    --aqua: #3e999f;
    --blue: #4271ae;
    --purple: #8959a8; */

    /* Base16 Default Light */
    /* --white: #f8f8f8;
    --lighestgray: #e8e8e8;
    --lightergray: #d8d8d8;
    --lightgray: #b8b8b8;
    --gray: #585858;
    --darkgray: #383838;
    --darkergray: #282828;
    --black: #181818;
    --red: #ab4642;
    --orange: #dc9656;
    --yellow: #f7ca88;
    --green: #a1b56c;
    --lightblue: #86c1b9;
    --blue: #7cafc2;
    --pink: #ba8baf;
    --brown: #a16946; */

    /* Base16 Ocean */
    /* --black: #2b303b;
    --darkestgray: #343d46;
    --gray: #4f5b66;
    --lightgray: #65737e;
    --lightergray: #a7adba;
    --lightestgray: #c0c5ce;
    --offwhite: #dfe1e8;
    --white: #eff1f5;
    --red: #bf616a;
    --orange: #d08770;
    --yellow: #ebcb8b;
    --green: #a3be8c;
    --lighterblue: #96b5b4;
    --blue: #8fa1b3;
    --pink: #b48ead;
    --brown: #ab7967; */

    /* Harmonic 16 */
    /* janniks.github.io/harmonic16 */
    --black: #0b1c2c;
    --darkblue: #223b54;
    --blue: #405c79;
    --lightblue: #627e99;
    --darkgray: #aabcce;
    --gray: #cbd6e2;
    --lightgray: #e5ebf1;
    --white: #f7f9fb;
    --orange: #bf8b56;
    --yellow: #bfbf56;
    --green: #8bbf56;
    --lightgreen: #56bf8b;
    --brightblue: #568bbf;
    --purple: #8b56bf;
    --magenta: #bf568b;
    --red: #bf5656;
}

.pure-form select {
    height: auto !important;
}

.pure-table thead {
    vertical-align: middle;
    background: var(--lightgray) !important;
    color: var(--black) !important;
}

.pure-table tbody tr td {
    font-size: 14px;
}
