.login {
    margin-left: auto;
    margin-right: auto;
}

.login h1, .login p {
    text-align: center;
}

.login input[type="checkbox"] {
    margin-top: 20px;
}

.login .button {
    margin-top: 20px;
}

.login-form {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
