.login {
    margin-left: auto;
    margin-right: auto;
}

.login h1, .login p {
    text-align: center;
}

.login input[type="checkbox"] {
    margin-top: 20px;
}

.login label {
    text-align: left;
}

.button {
    margin-top: 20px;
    background-color: var(--green);
    color: var(--white);
}

.login-form {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.remember {
    font-size: 12px;
}

.error {
    color: var(--red);
    font-size: 14px;
}

.invalid {
    border: 1px solid var(--red) !important;
}
