.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}

/* Based on https://projects.lukehaas.me/css-loaders/ */
.loader,
.loader:after {
    border-radius: 50%;
    width: 8em;
    height: 8em;
}

.loader {
    margin: 20px;
    font-size: 10px;
    border-top: 1.1em solid var(--darkgray);
    border-right: 1.1em solid var(--darkgray);
    border-bottom: 1.1em solid var(--darkgray);
    border-left: 1.1em solid var(--darkblue);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: spinner 1.1s infinite linear;
    animation: spinner 1.1s infinite linear;
}

@-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}
