.preview {
	background-color: var(--lightgray);
	padding: 2rem;
	min-height: 100vh;
	display: flex;
	justify-content: center;
}

.preview > div {
	background-color: var(--white);
	padding: 2rem 4rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	width: 8.5in;
	min-height: 11in;
}

.title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.note {
	font-size: 0.75rem;
	color: var(--darkgray);
}

.preview h1,
.preview h2,
.preview h3,
.preview h4,
.preview p {
	color: var(--black);
	font-weight: bold;
}
.preview h1 {
	font-size: 2rem;
}
.preview h2 {
	font-size: 1.5rem;
}
.preview h3 {
	font-size: 1.2rem;
}
.preview h4 {
	font-size: 1rem;
}
.preview p {
	font-size: 1rem;
}
