.flex {
    display: flex;
}

.add-team {
    max-width: fit-content;
}

.add-team label {
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
}

.addremove {
    text-align: right;
}

.remove-debater {
    display: inline-block;
    background-color: var(--red);
    color: var(--white);
    font-size: 10px;
    margin-right: 10px;
}

.add-debater {
    display: inline-block;
    background-color: var(--brightblue);
    color: var(--white);
    font-size: 10px;
}

.combo {
    width: 250px;
    margin-bottom: 20px;
}
.combo input {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.first {
    margin-right: 20px;
}

.add-team-button {
    margin-top: 20px;
    background-color: var(--green);
    color: var(--white);
}

.dirty {
    border: 1px solid var(--red);
}

.warning {
    color: var(--red);
    font-size: 12px;
}
