.add-team label {
    display: block;
    font-size: 12px;
}

.combo {
    width: 250px !important;
    margin-bottom: 20px;
}
.combo input {
    border: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.last {
    margin-left: 20px;
}

.rw-combobox {
    display: inline-block;
}

.add-team-button {
    margin-top: 20px;
}
