.flex {
    display: flex;
}

.add-team label {
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
}

.combo {
    width: 250px;
    margin-bottom: 20px;
}
.combo input {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.first {
    margin-right: 20px;
}

.add-team-button {
    margin-top: 20px;
    background-color: var(--green);
    color: var(--white);
}

.dirty {
    border: 1px solid var(--red);
}
