.teamlist ul {
    list-style-type: none;
}
.center {
    text-align: center;
}

.trash {
    color: #F03342;
    cursor: pointer;
}

.link {
    font-size: 18px;
    color: #42B0E2;
    cursor: pointer;
}

.timestamp {
    font-size: 10px;
    color: #666;
}
