.add-cite {
	display: flex;
}

.buttons {
	margin: 20px 0;
}

.add {
	background-color: var(--green);
	color: var(--white);
	border-radius: 20px;
	font-size: 14px;
	margin-left: auto;
}

.cancel {
	background-color: var(--red);
	color: var(--white);
	margin-left: 20px;
	border-radius: 20px;
	font-size: 14px;
}

.mobile .add {
	margin: 0 !important;
}

.mobile .selectround {
	width: 100%;
}
