.dropzone {
    border: 1px dashed var(--black);
    margin: 20px 0px;
    padding: 20px;
}

.add-cite {
    background-color: var(--green);
    color: var(--white);
    border-radius: 20px;
    font-size: 12px;
}

.add {
    background-color: var(--green);
    color: var(--white);
    border-radius: 20px;
}

.cancel {
    background-color: var(--red);
    color: var(--white);
    margin-left: 20px;
    border-radius: 20px;
}

.w-md-editor-preview h1 {
    font-size: 14px;
}
.w-md-editor-preview h2 {
    font-size: 12px;
}
.w-md-editor-preview h3 {
    font-size: 11px;
}
.w-md-editor-preview h4 {
    font-size: 10px;
    font-weight: bold;
}
.w-md-editor-preview p {
    font-size: 10px;
}

.citetitle {
    display: flex;
    align-items: center;
}

.citetitle svg {
    margin-left: auto;
}

.switch {
    vertical-align: middle;
}
.switch-label {
    vertical-align: middle;
    margin-left: 10px;
}

/* .form-group {
  position: relative;
  min-height: 3.5em;
}

.form-group input,
.form-group select {
  height: 3em;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 50px !important;
  padding-top: 20px !important;
}

.form-group label {
  position: absolute;
  font-size: .8em;
  top: 5px;
  left: 5px;
  padding: 5px;
  background-color: #FFF;
  color: var(--black);
  z-index: 2;
} */

.form-group label {
    font-size: 0.7em;
}
