.teamname {
    margin-bottom: 0;
}

.claim {
    border-radius: 20px;
    background-color: var(--lightblue);
    color: var(--white);
    font-size: 12px;
    margin-left: 20px;
}

.claim svg {
    margin-right: 5px;
}

.timestamp {
    font-size: 10px;
    color: var(--darkgray);
}

.buttons {
    display: flex;
}

.side {
    margin-right: 20px;
    background-color: var(--white);
    color: var(--darkgray);
}

.side:hover {
    background-color: var(--brightblue);
    color: var(--white);
}

.side:focus {
    background-color: var(--white);
    color: var(--brightblue);
    border-bottom: 5px solid var(--brightblue);
    background-image: none;
}

.selected-side {
    background-color: var(--white);
    color: var(--brightblue);
    border-bottom: 5px solid var(--brightblue);
}

.add-round {
    margin-left: auto;
}

.add-round button {
    border-radius: 20px;
    font-size: 14px !important;
    background-color: var(--green);
    color: var(--white);
}

.mobile .buttons {
    display: inline-block;
}

.mobile .add-round {
    display: inline-block;
    margin-top: 20px;
    margin-left: 0;
}
