.report {
    display: flex;
    align-items: center;
    line-height: 1.5em;
}
.report div {
    display: inline-block;
    width: 200px;
}

.reportclosed {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}
.reportopen {
    white-space: pre-wrap !important;
}

.report-header {
    vertical-align: bottom;
}

.caret {
    color: blue;
    cursor: pointer;
    margin-left: 5px;
}

.toggleall {
    margin-left: 20px;
    font-size: 60%;
}

.aff {
    margin-right: 20px;
    background-color: mediumblue;
}

.neg {
    margin-right: 20px;
    background-color: mediumvioletred;

}

.both {
    background-color: mediumseagreen;
}

.citesclosed {
    display: none;
}

.cites h1 {
    font-size: 14px;
}
.cites h2 {
    font-size: 12px;
}
.cites h3 {
    font-size: 11px;
}
.cites h4 {
    font-size: 10px;
    font-weight: bold;
}
.cites p {
    font-size: 10px;
}

.citetitle {
    display: inline-block;
}
.copy {
    float: right;
    color: blue;
    cursor: pointer;
}

.buttons {
    display: flex;
}
.claim {
    margin-left: auto;
    border-radius: 20px;
    background-color: mediumorchid;
}
.add {
    margin-left: 20px;
    border-radius: 20px;
}

.save {
    color: mediumaquamarine;
    cursor: pointer;
}

.claim svg {
    margin-right: 5px;
}
