.notes {
    display: flex;
    align-items: center;
}

.notes h4 {
    margin: 0;
}

.notes textarea {
    width: 500px;
    min-height: 200px;
    height: fit-content;
}

.info {
    color: var(--brightblue);
    font-size: 14px;
    margin: 0px 5px;
    cursor: pointer;
}

.shownotes {
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
}

.warning {
    font-size: 12px;
    color: var(--red);
}

.notes-buttons {
    margin: 20px 0px;
}

.save {
    background-color: var(--brightblue);
    color: var(--white);
    font-size: 14px;
    margin: 0px 5px;
    cursor: pointer;
    border-radius: 20px;
}

.cancel {
    background-color: var(--red);
    color: var(--white);
    font-size: 14px;
    margin: 0px 5px;
    cursor: pointer;
    border-radius: 20px;
}

.mobile.notes textarea {
    width: 100%;
}

.mobile .save {
    margin: 0px 5px !important;
}
