.report {
    display: flex;
    align-items: center;
    line-height: 1.5em;
}
.report div {
    display: inline-block;
    width: 200px;
}

.reportclosed {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}
.reportopen {
    white-space: pre-wrap !important;
}

.report-header {
    vertical-align: bottom;
}

.caret {
    color: var(--blue);
    cursor: pointer;
    margin-left: 5px;
}

.toggleall {
    margin-left: 20px;
    font-size: 60%;
    background-color: var(--lightblue);
    color: var(--white);
}

.aff {
    margin-right: 20px;
    background-color: var(--white);
    color: var(--darkgray);
}

.neg {
    margin-right: 20px;
    background-color: var(--white);
    color: var(--darkgray);
}

.all {
    margin-right: 20px;
    background-color: var(--white);
    color: var(--darkgray);
}

.selected-side {
    background-color: var(--white);
    color: var(--brightblue);
    border-bottom: 5px solid var(--brightblue);
}

.citesclosed {
    display: none;
}

.cites h1 {
    font-size: 14px;
}
.cites h2 {
    font-size: 12px;
}
.cites h3 {
    font-size: 11px;
}
.cites h4 {
    font-size: 10px;
    font-weight: bold;
}
.cites p {
    font-size: 10px;
}

.citetitle {
    display: inline-block;
}
.copy {
    float: right;
    color: var(--brightblue);
    cursor: pointer;
}

.buttons {
    display: flex;
}

.claim {
    border-radius: 20px;
    background-color: var(--lightblue);
    font-size: 12px;
    margin-left: 20px;

}
.add-round {
    margin-left: auto;
}
button.add-round {
    border-radius: 20px;
    font-size: 14px !important;
    background-color: var(--green);
    color: white;
}

.save {
    color: var(--brightblue);
    cursor: pointer;
}

.claim svg {
    margin-right: 5px;
}

.teamname {
    margin-bottom: 0;
}
