.footer {
    height: 30px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    background-color: var(--blue);
    color: white;
    font-size: 14px;
}

.footer a {
  color: white;
  text-decoration: underline;
}

.spinner {
    display: inline-block;
    animation: fadeslideup 1s linear 0s 1;
}

@keyframes fadeslideup {
    0% {
      opacity: 0.25;
      -moz-transform: translateY(40%); 
      transform: translateY(20%); 
    }
    25% {
      opacity: 0.5;
      -moz-transform: translateY(20%); 
      transform: translateY(10%); 
    }
    50% {
      opacity: 1;
    }
    75% {
      opacity: 0.5;
      -moz-transform: translateY(-20%);
      transform: translateY(-20%);
    }
    100% {
      opacity: 0.25;
      -moz-transform: translateY(-40%);
      transform: translateY(-40%);
    }
}

.divider {
    margin: 0px 10px;
}
