.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--darkblue);
    color: var(--white);
    min-height: 50px;
}
.header h1 {
    margin: 0px 20px;
    font-size: 24px;
    font-weight: 400;
}
.header a {
    color: var(--white);
    text-decoration: none;
}
.menu {
    font-size: 16px;
    margin-right: 20px;
}
.menu ul {
    list-style-type: none;
}
.header form {
    display: flex;
}

.search {
    margin-left: auto;
}

.search button {
    background-color: var(--green);
    color: white;
}

.header-default,
.header-college-cx {
    background-color: var(--darkblue);
}
.header-hs-cx {
    background-color: var(--blue);
}
.header-hs-ld {
    background-color: var(--lightblue);
}
.header-hs-pf {
    background-color: var(--brightblue);
}
.header-college-ld {
    background-color: var(--darkgray);
}

.mobile {
    padding: 20px;
    justify-content: left;
}

.mobile form.search {
    margin-left: 20px;
    margin-top: 20px;
}

.mobile .menu ul {
    padding-left: 20px;
}
.mobile .menu ul li {
    text-decoration: underline;
}
