.sidebar {
    text-align: left;
    width: 200px;
    background: #EEE;
    padding: 5px 20px 20px 20px;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sidebar li {
    margin: 0;
    padding: 0;
}

.sidebar a {
    text-decoration: none;
    color: #3173B5;
    font-size: 12px;
    vertical-align: middle;
} 

.green {
    background-color: #0E9641;
    color: white;
    font-size: 90%;
    border-radius: 20px;
}

.toggle {
    display: flex;
    font-size: 24px;
}
.toggle span {
    margin-left: auto;
    cursor: pointer;
}
.sidebar-collapsed {
    width: 5px;
}
.sidebar-contents-collapsed * {
    display: none;
}
