.home {
    text-align: center;
}

.caselists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.caselist {
    background-color: #eee;
    width: 200px;
    height: 100px;
    margin: 20px;
    padding: 20px;
    color: var(--white);
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 25px;
}

.caselist:hover {
    filter: brightness(110%);
    cursor: pointer;
}

.caselist a {
    color: var(--white);
}

.ndt {
    background-color: var(--darkblue);
}
.policy {
    background-color: var(--blue);
}
.ld {
    background-color: var(--lightblue);
}
.pf {
    background-color: var(--brightblue);
}
.nfa {
    background-color: var(--darkgray);
}
.openev {
    background-color: var(--green);
}
