name: Caselist publish

on:
  push:
    branches:
      - main
  pull_request:
    branches:
        - main

env:
    CI: true
    SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set Docker Tag by commit
      id: get_version
      run: echo COMMIT_VERSION=$(echo $GITHUB_SHA) >> $GITHUB_ENV

    - name: Publish client image to Registry
      uses: elgohr/Publish-Docker-Github-Action@v4
      with:
        name: caselist-client
        username: ${{ secrets.REGISTRY_USER }}
        password: ${{ secrets.REGISTRY_PASSWORD }}
        registry: registry.speechanddebate.org
        tags: "${{ env.COMMIT_VERSION }}"
        context: client
    
    - name: Publish server image to Registry
      uses: elgohr/Publish-Docker-Github-Action@v4
      with:
        name: caselist-server
        username: ${{ secrets.REGISTRY_USER }}
        password: ${{ secrets.REGISTRY_PASSWORD }}
        registry: registry.speechanddebate.org
        tags: "${{ env.COMMIT_VERSION }}"
        context: server
    
    - name: If image was published change icon
      if: success()
      run: echo "SLACK_ICON=:white_check_mark" >> $GITHUB_ENV

    - name: Send slack notification
      uses: speechanddebate/action-slack-notify@master
